
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>BCE YAZILIM</title>
    <!-- Favicon icon -->
    <link rel="icon" type="~/adminweb/image/png" sizes="16x16" href="~/adminweb/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/adminweb/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/Dashboard/Index">
                    <b class="logo-abbr"><img src="~/adminweb/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="~/adminweb/images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Ara..." aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Aranacak Kelimeyi Giriniz...">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge gradient-1 badge-pill badge-primary">2</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">Mesajlar</span>

                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/adminweb/images/avatar/1.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Furkan Soylu</div>
                                                    <div class="notification-timestamp">9 Saat Önce</div>
                                                    <div class="notification-text">Merhaba...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="~/adminweb/images/avatar/2.jpg" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Emin Akkurt</div>
                                                    <div class="notification-timestamp">3 Saat Önce</div>
                                                    <div class="notification-text">Kurumsal Proje Ödevi</div>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2 badge-primary">2</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 Yeni Bildirim</span>

                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Etkinlik Başlıyor !!!</h6>
                                                    <span class="notification-text">3 Gün İçinde</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Toplantı Var !!!</h6>
                                                    <span class="notification-text">3 Saat Önce</span>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>Türkçe</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">Türkçe</a></li>
                                        <li><a href="javascript:void()">İngilizce</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/adminweb/images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/Settings/Index/"><i class="icon-user"></i> <span>Profil</span></a>
                                        </li>
                                        <li>
                                            <a href="/AdminContact/Inbox/"><i class="icon-envelope-open"></i> <span>Gelen Kutusu</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <a href="/Dashboard/Index/"><i class="icon-lock"></i> <span>Ana Sayfa</span></a>
                                        </li>
                                        <li><a href="/Login/Index/"><i class="icon-key"></i> <span>Çıkış Yap</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/Dashboard/Index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Malzeme/Index" aria-expanded="false">
                            <i class="icon-info menu-icon"></i><span class="nav-text">Malzeme Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CostCenter/Index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Maliyet Merkezleri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/WorkCenter/Index" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">İş Merkezleri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Bom/Index" aria-expanded="false">
                            <i class="icon-clock menu-icon"></i><span class="nav-text">Ürün Ağaçları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Routes/Index" aria-expanded="false">
                            <i class="icon-clock menu-icon"></i><span class="nav-text">Rotalar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Default/Index" aria-expanded="false">
                            <i class="icon-info menu-icon"></i><span class="nav-text">Firma Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Language/Index" aria-expanded="false">
                            <i class="icon-home menu-icon"></i><span class="nav-text">Dil Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Country/Index" aria-expanded="false">
                            <i class="icon-people menu-icon"></i><span class="nav-text">Ülke Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/City/Index" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i><span class="nav-text">Şehir Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Unit/Index" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Birim Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MaterialType/Index" aria-expanded="false">
                            <i class="icon-paper-clip menu-icon"></i><span class="nav-text">Materyal Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/CostCenterType/Index" aria-expanded="false">
                            <i class="icon-film menu-icon"></i><span class="nav-text">Maliyet Merkezi Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/BomType/Index" aria-expanded="false">
                            <i class="icon-people menu-icon"></i><span class="nav-text">Ürün Ağacı Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/WorkCenterType/Index" aria-expanded="false">
                            <i class="icon-puzzle menu-icon"></i><span class="nav-text">İş Merkezi Bilgileri</span>
                        </a>
                    </li>
                    <li>
                        <a href="/OperationType/Index" aria-expanded="false">
                            <i class="icon-briefcase menu-icon"></i><span class="nav-text">Operasyon Bilgileri</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://bsm.sakarya.edu.tr//">BCE YAZILIM</a> 2025</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/adminweb/plugins/common/common.min.js"></script>
    <script src="~/adminweb/js/custom.min.js"></script>
    <script src="~/adminweb/js/settings.js"></script>
    <script src="~/adminweb/js/gleek.js"></script>
    <script src="~/adminweb/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/adminweb/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/adminweb/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/adminweb/plugins/d3v3/index.js"></script>
    <script src="~/adminweb/plugins/topojson/topojson.min.js"></script>
    <script src="~/adminweb/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/adminweb/plugins/raphael/raphael.min.js"></script>
    <script src="~/adminweb/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/adminweb/plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/adminweb/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/adminweb/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="~/adminweb/js/dashboard/dashboard-1.js"></script>
</body>

</html>